DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /oz_oms/

    # Redirect trailing slashes if not a folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA,E=PATH_INFO:/$1]
</IfModule>

<IfModule !mod_rewrite.c>
    # If mod_rewrite is not available, we need to use index.php in URLs
    ErrorDocument 404 /oz_oms/index.php
</IfModule>
